/*Réglages généraux */
@font-face {
    font-family: "police-titre";
    src: url("./soopafre.ttf");
}
@font-face {
    font-family: "police-principale";
    src: url("./MilkyJuice.otf");
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    --couleur-claire: #EDF4C2;
    --couleur-midclaire: #E7D283;
    --couleur-midfonce: #EB5A3C;
    --couleur-fonce: #DF9755; 
}

body {
    font-family: "police-titre";
    background-color: var(--couleur-fonce);
    color: #EDF4C2;
}


/*Réglages de la partie nav */
#logo{
    width: 200px;
    display: block;
}

/*Réglages de la partie header */
header {
    background:radial-gradient(circle at 35%,var(--couleur-midfonce),var(--couleur-midclaire));
    font-family: "police-principale";
    height: 25vh;
    padding: 30px;
    position: relative;
    top: 18vmin;    
    
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

p {
    font-size: 1.2rem;
    margin-bottom: 5px;
}

h1 {
    font-family: "police-principale";
    font-size: 4rem;
}

h2 {
    font-family: "police-principale";
    margin-bottom: 5px;
}

h3 {
    font-size: 2rem;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: solid var(--couleur-midfonce) 1px;
    position: fixed;
    width: 100vw;
    background-color: var(--couleur-midclaire);
    z-index: 10;
    height: 18vmin;

}

#nav-bar {
        width : 70%;
        display: flex;
        flex-direction: row;
        justify-content: end;
        align-items: center;
        padding: 5px; 
}

 .nav-button {
    font-size: 2rem;
    text-decoration: none;
    display: block;
    background-color: var(--couleur-midfonce);
    color: #E7D283;
    padding: 8px;
    width: 18%;
    margin: 8px;
    text-align: center;
    border-radius: 10px;
    transition: background-color 500ms, color 1000ms, border 1000ms;

 }
 .nav-button:hover {
    background-color: var(--couleur-claire);
    color: var(--couleur-fonce);
    border: solid var(--couleur-midclaire) 2px;
 }

/*Réglages de la partie main et aside*/
#rangement {
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
    padding: 20px;
    position: relative;
    top: 18vmin;

}
main {
    width: 75%;
}

article {
    box-shadow: var(--couleur-claire) 2px 2px 5px 0;
    padding: 10px;
    margin-bottom: 10px;
    transition: transform 1000ms;
}

article:hover {
    transform: translate3d(2vh, 2vh, 0);
}

#text1-contenant {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;

}

#text1 {
    width: 60%;
    padding-right: 7px;

}

iframe {
    display: block;
    width: 40%;
    border-radius: 5%;

}

aside {
    width: 22%;
    position: fixed;
    top: 20vmin;
    right: 30px;


}
/* image et vidéo*/

#video-e2c {
   max-width: 100%;

}

#lecture {
max-width: 100%;
width: 40%;
float: right;
padding-left: 7px;
}

#prepa-num {
max-width: 100%;
margin-top: 1px;
}

#festnum {
max-width: 100%;
}

aside>article {
    padding: 15px;
    background-color: var(--couleur-midfonce);
    color: var(--couleur-claire);
    border: solid var(--couleur-midclaire);
    border-radius: 10px;
}

/* design intertext*/

.intertext {
    width: 100%;
    aspect-ratio: 1904/640;
    background-image: url(../src/bib2.png);
    background-repeat: no-repeat;
    background-size: 100%;
    
}

.intertext2 {
    width: 100%;
    aspect-ratio: 1904/640;
    background-image: url(../src/bib1.png);
    background-repeat: no-repeat;
    background-size: 100%;
    
}